
---
layout: ""
page_title: "Provider: ISE"
description: |-
  The ISE provider provides resources to interact with a Cisco ISE (Identity Service Engine) instance.
---

# ISE Provider

The ISE provider provides resources to interact with a Cisco ISE (Identity Service Engine) instance. It communicates with ISE via the REST API.

This provider uses both, the ERS and Open API. Instructions on how to enable API access can be found here: https://developer.cisco.com/docs/identity-services-engine/latest/#!cisco-ise-api-framework

All resources and data sources have been tested with the following releases.

| Platform | Version       |
| -------- | ------------- |
| ISE      | 3.2.0 Patch 4 |

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
